<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <a class="skip-to-content" href="#main-content">Skip to content</a>
    <header class="site-header">{{ partial "nav.html" . }}</header>
    <main class="wrap" id="main-content">{{ block "main" . }}{{ end }}</main>
    <footer class="site-footer">{{ partial "footer.html" . }}</footer>
    {{- $modeJs := resources.Get "js/mode.js" | fingerprint -}}
    <script src="{{ $modeJs.RelPermalink }}" defer></script>
    {{- $galleryJs := resources.Get "js/gallery.js" | fingerprint -}}
    <script src="{{ $galleryJs.RelPermalink }}" defer></script>
  </body>
</html>
